.datepicker {
  background: $white;
}

.datepicker table tr td.active.active {
  background: $primary !important;
}

.selectors {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 1rem;
  margin-top: 1rem;

  .input-group-addon {
    background: 0;
    border: 0;
  }

  .form-control {
    border: 0;
    background:$white;
    box-shadow: none;
  }

  .shiny-date-range-input {
    display: flex;
    align-items: center;
    gap: 1rem;

    label {
      margin-bottom: 0;
    }
  }
}
